body {
	font-family: 'Roboto Slab', serif;
	background:#466675;
	color:white;
	} 
.header {
	height:100px;
	width:950px;
	padding:0;
	margin: 0;
}
.header {
	margin-bottom:100px;
}
span {
	color:white;
	font-size:23px;

}
h1{
	color:white;
	text-align:center;
	margin: 0;
}
h3 {
	color:white;
	text-align:center;
	margin-top: 30px;
	font-weight:lighter;
}
#content {
	height:300px;
	width:400px;
	padding:0;
	margin: 0;
	clear:both;
}
h2 {
	
	color:grey;
	margin: 0;
}
.list > .t1,.t2,.t3,.t4 {
	height:50px;
	width:750px;
	border: 2px solid black;
	background:#6A8D9D;
	margin-left: 100px;
	margin-bottom: 10px;
	border-radius:25px;

}
 p {
	text-align:center;
	font-size:18px;
	font-weight:100;
}
[type=text] {
	background: #6A8D9D;
	border:0;
	height:30px;
	width:300px;
	font-size: 18px;
	display:none;
}

.reset {
	margin-left:100px;
	margin-bottom:20px;
	background:#6A8D9D;
	border-radius:25px;
	color:white;
	padding:15px;
	width:100px;
	border: 0px;
	font-weight:100;
}
.ticks1,.ticks2,.ticks3,.ticks4 {
	padding: 10px;
	float:right;
	margin-right:-440px;
	margin-top:5px;
	background:#6A8D9D;
	border: 0px;
	color:white;
}
.trash1,.trash2 ,.trash3 ,.trash4 {
margin-top:5px;
margin-left:120px;
float:left;
padding:10px;
border: 0px;
background:#6A8D9D;
color:white;
}
footer {
	background:#263945;
	width:950px;
	height:100px;
	margin-top:200px;
	color:#263945;
}


/*.sidebar {
	height:400px;
	width:250px;
	background:white;
	border: 1px solid black;
	margin-left:460px;
	margin-top: -340px;

}
/*#buttons-down > .less, .more{
	margin-left: 10px;
	background:white;
	height:50px;
	width:50px;
	border-radius: 50%;
	border: 1px solid black;
}*/
