body {
	font-family: 'Roboto Slab', serif;
	background:#466675;
	color:white;
	margin:0;
	padding:0;
	max-width:960px;
	} 
.header {
	width:960px;
	padding:0;
	margin: 0 auto;
	text-align:center;
	background:#8aaab9;
	margin-bottom:100px;

}
.f {
	color:black;
}
span {
	color:white;
	font-size:23px;

}
h1{
	color:white;
	text-align:center;
	margin: 0;
}
h3 {
	color:white;
	text-align:center;
	margin-top: 10px;
	font-weight:lighter;
}
#content {
	width:90%;
	padding:0;
	margin: 0 auto;
	clear:both;
}
h2 {
	
	color:grey;
	margin: 0;
}
.list > .t,.t1 {
	height:50px;
	width:750px;
	border: 2px solid black;
	margin: 0 auto;
	margin-bottom: 10px;
	border-radius:25px;
	position:relative;

}

 p {
	text-align:center;
	font-size:18px;
	font-weight:100;
}
.hidden {
	width:60%;
	background:transparent;
	height:50px;
	font-size:2em;
	color:white;
	margin-left:100px;
	border:none;
}

.reset {
	margin-right:100px;
	position:relative;
	background:#466675;
	border-radius:25px;
	color:white;
	float:right;
	padding:15px;
	width:10%;
	font-weight:100;

}
.ticks{
	padding: 10px;
	position:relative;
	margin-top:-60px;
	margin-right:10px;
	float:right;
	background:transparent;
	border: 0px;
	color:white;
	position:relative;
}
.trash{
margin-top:5px;
margin-left:10px;
float:left;
padding:10px;
border: 0px;
background:#466675;
color:white;
position:relative;

}
#new {
	
	width:60%;
	height:50px;
	border: 2px solid black;
	margin-left:160px;
	border-radius:25px;
	text-align:center;
	position:relative;
	margin-bottom:30px;
	font-size:16px;
	font-weight:100;

}

footer {
	background:#263945;
	height:100px;
	margin-top:200px;
	color:#263945;
}
.test {
	text-decoration: line-through;
}

/*.sidebar {
	height:400px;
	width:250px;
	background:white;
	border: 1px solid black;
	margin-left:460px;
	margin-top: -340px;

}
/*#buttons-down > .less, .more{
	margin-left: 10px;
	background:white;
	height:50px;
	width:50px;
	border-radius: 50%;
	border: 1px solid black;
}*/
